.newPostForm input {
    background-color: #1d1b31;
    height: 40px;
    border-radius: 10px;
    outline:none;
    border: 0px;
    color: #fff;
    width: 50%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #11101f ;
}

.newPostForm button {
    background-color: #333336;
    color: #757575;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    width: 100px;
    height: 25px;
    margin-left: 5px;
}

.newPostForm button:hover {
    background-color: #555556;
    color: #fff;
}