.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: #222226;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #757575;
}

.dialog {
    background-color: #222226;
    margin: 5px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.dialogsItems {
    margin-bottom: 5px;
    border-radius: 10px;
}

.dialogsItems a {
    text-decoration: none;
    color: #727272;
    display: block;
}

.dialogsItems a:hover {
    background-color: #333336;
    border-radius: 5px;
    color: #fff;
}

.messages {
    color: #fff;
}

.sendMessage textarea{
    background-color: #333336;
    color: #fff;
    border-radius: 5px;
    width: 50%;
    height: 100%;
    margin: 5px;
}

.sendMessage button {
    background-color: #333336;
    color: #757575;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    width: 100px;
    height: 25px;
    margin-left: 5px;
}

.sendMessage button:hover {
    background-color: #555556;
    color: #fff;
}