.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
    background-color: #222226;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #757575;
}

.dialog {
    background-color: #222226;
    margin: 5px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.dialogsItems {
    margin-bottom: 5px;
    border-radius: 10px;
}

.dialogsItems a {
    text-decoration: none;
    color: #727272;
    display: block;
}

.dialogsItems a:hover {
    background-color: #333336;
    border-radius: 5px;
    color: #fff;
}

.chat {
    background-color:#333336;
    border-radius: 10px;
    position: static;
    height: 80vh;
    width: 75%;
    border: 1px solid white
}

.chat .chatHeader {
    background-color: #11101f;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 5px;
    height: 6%;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    line-height: 50px;
}

.chat .chatHeader .chatImg {
    width: 50px;
}

.chat .chatHeader .chatImg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 50%;
}

.chat .chatHeader .chatName {
    color: #fff;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.chat .chatBody {
    background-color: #1d1b31;
    min-height: 89%;
	max-height: 89%;
    color: #fff;
}

.chat .chatFotter {
    color: #fff;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #11101f;
    height: 52px;
}

.chat .chatFotter i button{
    height: 52px;
    min-width: 50px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    background-color: #11101f;
    outline: none;
    border: 0;
}

.chat .chatFotter i button:hover {
    color: #1d1b31;
    cursor: pointer;
}

.chat .chatFotter input {
    background-color: #1d1b31;
    height: 40px;
    border-radius: 10px;
    outline:none;
    border: 0px;
    color: #fff;
    width: 92%;
    padding: 5px;
    margin-left: 5px;
    font-size: 14px;
}
