.header {
    grid-area: h;
    background-color: #333336;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.header img {
    height: 45px;
    width: 45px;
    margin: 5px;
    border-radius: 5px;
}

.header a {
    color: black;
    text-decoration: none;
}