.post img {
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

.post {
    background-color: #333336;
    margin: 5px;
    border-radius: 5px;
    color: #ffffff;
}

.postButton {
    display: inline;
}

.likeButton {
    background-color: #222226;
    color: #757575;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    width: 100px;
    height: 25px;
    margin: 5px;
}

.repostButton {
    background-color: #222226;
    color: #757575;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    width: 100px;
    height: 25px;
}

.postButton button:hover {
    background-color: #555556;
    color: #fff;
}

.postMessage {
    margin: 5px;
}